In [1]:
import astropy.io.ascii as ascii
import pandas as pd

In [2]:
def hms2deg_ra(ras):
    ras_deg = []
    for ra in ras:
        try:
            rh, rm, rs = [float(r) for r in ra.split(':')]
        except:
            rh, rm     = [float(r) for r in ra.split(':')]
            rs         = 0.0
        ra_deg     = rh*15 + rm/4 + rs/240
        ras_deg.append(ra_deg)
    return ras_deg

def hms2deg_dec(decs):
    decs_deg = []
    for dec in decs:
        try:
            dd, dm, ds = [float(d) for d in dec.split(':')]
        except: 
            dd, dm     = [float(d) for d in dec.split(':')]
            ds         = 0.0
        if dd < 0:
            sign   = -1
        else:
            sign   = 1
        dec_deg    = dd + sign*dm/60 + sign*ds/3600
        decs_deg.append(dec_deg)
    return decs_deg

def degify_radec(frbcat):
    ra_col  = hms2deg_ra(frbcat['rop_raj'])
    dec_col = hms2deg_dec(frbcat['rop_decj'])
    frbcat_radecdeg = frbcat
    #x = pd.DataFrame({'rop_raj':ra_col}) 
    #y = pd.DataFrame({'rop_decj':dec_col})
    #frbcat_radecdeg['rop_raj']=x['rop_raj']
    #frbcat_radecdeg['rop_decj']=y['rop_decj']
    frbcat_radecdeg['rop_raj_deg']  = ra_col
    frbcat_radecdeg['rop_decj_deg'] = dec_col
    return frbcat_radecdeg

# Set Conditions, loc of frbcat file

In [13]:
[RAmax,RAmin] = hms2deg_ra(['06:00:00','02:00:00'])
[DECmax]      = hms2deg_dec(['-10:00:00'])
telescopes    = ['parkes','ASKAP']
f='/Users/jielaizhang/Swinburne University/MMA - General/'\
  'ObservingPrep/Scheduling/2020/frbcat_20200806.csv'

# Run Code Below

In [14]:
frbcat = d=pd.read_csv(f)

In [15]:
frbcat_radecdeg = degify_radec(frbcat)
frbcat_radecdeg[0:2]

,frb_name,utc,telescope,rop_raj,rop_decj,rop_gl,rop_gb,rmp_dm,rmp_width,rmp_snr,rop_raj_deg,rop_decj_deg
0,FRB161202,2016/12/02 13:24:54.000,Pushchino,23:44:00,+40:48:00,109.3950,-20.2920,291&plusmn4,810.0,7.1,356.0000,40.800000
1,FRB110703,2011/07/03 18:59:40.607,parkes,23:30:51,-02:52:24,80.9978,-59.0191,1103.6&plusmn0.7,4.3,16.0,352.7125,-2.873333

In [16]:
frb_RADECright = frbcat_radecdeg[(frbcat_radecdeg['rop_raj_deg']>RAmin) & 
                                 (frbcat_radecdeg['rop_raj_deg']<RAmax) &
                                 (frbcat_radecdeg['rop_decj_deg']<DECmax)
                                ]

In [17]:
frb_RADECright

,frb_name,utc,telescope,rop_raj,rop_decj,rop_gl,rop_gb,rmp_dm,rmp_width,rmp_snr,rop_raj_deg,rop_decj_deg
89,FRB010312,2001/03/12 11:06:47.980,parkes,05:26:54.9,-64:56:19.2,274.720,-33.3000,1187&plusmn14,24.30,11.0,81.728750,-64.938667
92,FRB010305,2001/03/05 12:29:16.020,Parkes,04:57:19.5,-52:36:24.668,260.060,-38.3400,350&plusmn5,9.00,10.2,74.331250,-52.606852
97,FRB171213,2017/12/13 14:22:40.467,ASKAP,03:39,-10:56,198.800,-47.5000,158.6&plusmn0.2,1.50,25.1,54.750000,-10.933333
98,FRB171116,2017/11/16 14:59:33.305,ASKAP,03:31.0,-17:14,206.300,-51.9000,618.5&plusmn0.5,3.20,11.8,52.750000,-17.233333
99,FRB180119,2018/01/19 12:24:30.747,ASKAP,03:29.3,-12:44,199.500,-50.4000,402.7&plusmn0.7,2.70,15.9,52.325000,-12.733333
100,FRB171216,2017/12/16 17:59:10.822,ASKAP,03:28,-57:04,271.200,-49.3000,203.1&plusmn0.5,1.90,8.0,52.000000,-57.066667
101,FRB090625,2009/06/25 21:53:51.379,parkes,03:07:47,-29:55:36,226.444,-60.0303,899.55&plusmn0.01,1.92,30.0,46.945833,-29.926667
102,FRB170707,2017/07/07 06:17:34.354,ASKAP,02:59,-57:16,275.000,-52.4000,235.2&plusmn0.6,3.50,9.5,44.750000,-57.266667